@media (min-width: 768px) {
  .navbar {
    justify-content: space-between;
    .navbar__nav-list {
      height: 100%;
      width: 100%;

      display: flex;
      flex-direction: row;
      align-items: center;

      position: relative;
    }

    .navbar__open-icon,
    .navbar__close-icon {
      display: none;
    }
  }

  .main {
    display: flex;
    gap: 50px;
  }

  article {
    width: 90%;
  }

  .principal__new {
    display: flex;
    flex-wrap: wrap;
    .principal__new-image {
      width: 100%;
    }

    .principal__new-title,
    .principal__new-text {
      width: 50%;
    }
  }

  aside {
    margin-top: -35px;
    .aside__news {
      height: 530px;
    }
    .aside__news-new {
      margin-top: 0;
    }
  }

  .footer {
    display: flex;
  }
}
